*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul{
  background-color: black;
  padding: 15px;
}
ul li a{
   text-decoration: none;
   color: white;

}

ul li{
   color: white;
   display: inline;
   margin-left: 18px;
}

#hero{
   margin-top: 16px;
   margin-left: 8px;
}